.interbold{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size:30px;
}
.interfont{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.intertitle{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 50px;
}
.navbar {
    background-color: #403E3F;
    margin-bottom: 50px;
    top: -100%;
    transition: all .5s;
}

.navbar-scrolled{
    top: 0;
}

.max-navbar {
    max-width: 1200px;
}
.lblue{
    color:#FFFFFF;
}

.mblue{
    color:#03396c;
}

.dblue{
    color:#03396c;
}

/*Logo Color*/
.navbar-brand{
    color:#22B7F2;
}

/*Nav color*/
.navbar ul li a {
    color:#22B7F2;
}

/*Changes the color of the hamburger*/
.navbar-toggler {
    background-color:#2793F2;
}

.nav-element{
    margin: 0 20px;
}

body {
    background-color: #FFFFFF;
}


section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: .5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: .2;
    animation-delay: -2s;
    bottom: 15;
}

section .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: .7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
    
}

@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
    
}

.highlight{
    position: relative;
    background-color: #2793F2;
    width: auto;
    padding: 20px 0px 200px 0px;
    overflow: hidden;
    margin:-50px 0px 100px 0px;
}

.highbox{
    position: relative;
    background-color: #2793F2;
    width: auto;
    padding: 50px 0px;
    overflow: hidden;
}

.hightext{
    padding-top: 110px;
    padding-left: 50px;
    text-align: center;
}

.postcard {
    flex-wrap: wrap;
    display: flex;
    
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;

    &.dark {
		background-color: #03396c;
	}
    a {
        color: inherit;
        text-decoration: none;
      }
      
}
.postcard_title{
    padding: 10px 0px 0px 10px;
}
.postcard_caption{
    padding: 0px 0px 0px 10px;
}
.postcard_text{
    padding: 25px 0px 0px 10px;
}
.t-dark {
    color: #18151f;
}

.postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
	padding-top: 0;
  }

  .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 50px 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
  }
.button {
    background-color:#22B7F2; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: #FFFFFF; 
    color: #22B7F2; 
    border: 2px solid #0D0D0D;
    border-radius: 12px;
  }

  .button1:hover {
    background-color: #2793F2;
    color: white;
  }


img {
    width: 100%;
}

.roundedge{
    border-radius: 50px;
}

.mainimg{
    padding:20px;
    width: auto;
    max-width: 100%;
    align-content: center;
    display: block;
    margin: 0 auto;
}

.cardimg{
    padding: 10px;
}
.drop{
    filter: drop-shadow(30px 10px 4px #22B7F2);
}

.icons {
    width: 50px;
    height: 50px;
    margin: 10px 30px;
}

.sectiontitle{
    color:#2793F2;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.sectiontitle2{
    color:#FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.titlecaption{
    text-align: center;
}

.hobbybox{
    background-color: #FFFFFF;
    text-align: center;
    margin: 75px;
    padding: 30px;
    border-radius: 50px;
}

.skillsbox{
    background-color: #FFFFFF;
    text-align: center;
    margin: 10px;
    padding: 30px;
    border-radius: 100%;
}

.stitle{
    color: #22B7F2;
    text-decoration: underline;
    padding: 10px 0px;
}

.sicon{
    width: 100px;
    height: 100px;
    margin: 10px 0px;
}

footer hr {
    color: #2793F2;
    height: 3px;
}

.tleft{
    padding-left: 50px;
    text-align: left;
    color:#2793F2;
}
.tcenter{
    text-align: center;
    color:#2793F2;
}

.tright{
    padding-right: 50px;
    text-align: right;
    color:#2793F2;
}
/* Breakpoint*/
@media only screen and (min-width: 768px) {
    .icons {
        width: 50px;
        height: 50px;
        margin: 10px 60px;
    }

    .intertitle{
        font-size: 75px;
    }

    .postcard{
        flex-wrap: inherit;
    }
    .postcard__img{
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }
   }
@media only screen and (min-width: 992px) {
    .icons {
        width: 50px;
        height: 50px;
        margin: 40px 0px;
    }

    .hightext{
        text-align: left;
    }

    .highlight{
        padding: 200px 0px 200px 0px;
    }
    
    
   }

   @media only screen and (min-width: 1200px) {
    .intertitle{
        font-size: 100px;
    }

   }

