.interfont{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.navbar {
    background-color: #403E3F;
    margin-bottom: 50px;
}

.max-navbar {
    max-width: 1200px;
}
.lblue{
    color:#FFFFFF;
}

.mblue{
    color:#03396c;
}

.dblue{
    color:#03396c;
}

/*Logo Color*/
.navbar-brand{
    color:#22B7F2;
}

/*Nav color*/
.navbar ul li a {
    color:#22B7F2;
}

/*Changes the color of the hamburger*/
.navbar-toggler {
    background-color:#2793F2;
}

.nav-element{
    margin: 0 20px;
}

body {
    background-color: #FFFFFF;
}

.highbox{
    background-color: #2793F2;
    width: auto;
    padding: 50px 0px;
}

.hightext{
    padding-top: 110px;
    padding-left: 50px;
    text-align: center;
}

.button {
    background-color:#22B7F2; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: #FFFFFF; 
    color: #22B7F2; 
    border: 2px solid #0D0D0D;
    border-radius: 12px;
  }

  .button1:hover {
    background-color: #2793F2;
    color: white;
  }

/* Fixes the width of the section so it leaves space on the sides*/

/* if I want box edges
.mybox1{
    border-top: 1px solid #0D0D0D;
    border-left: 1px solid #0D0D0D;
}

.mybox2{
    border-bottom: 1px solid #0D0D0D;
    border-right: 1px solid #0D0D0D;
}

.mybox3{
    border-right: 1px solid #0D0D0D;
}
*/
img {
    width: 100%;
}

.roundedge{
    border-radius: 50px;
}

.mainimg{
    padding:20px;
    width: auto;
    max-width: 100%;
    align-content: center;
    display: block;
    margin: 0 auto;
}

.cardimg{
    padding: 10px;
}
.drop{
    filter: drop-shadow(30px 10px 4px #22B7F2);
}

.icons {
    width: 50px;
    height: 50px;
    margin: 10px 30px;
}

.sectiontitle{
    color:#2793F2;
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 30px;
}
.sectiontitle2{
    color:#FFFFFF;
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 30px;
}

.titlecaption{
    text-align: center;
}

.hobbybox{
    background-color: #FFFFFF;
    text-align: center;
    margin: 75px;
    padding: 30px;
    border-radius: 50px;
}

.skillsbox{
    background-color: #FFFFFF;
    text-align: center;
    margin: 10px;
    padding: 30px;
    border-radius: 100%;
}

.stitle{
    color: #22B7F2;
    text-decoration: underline;
    padding: 10px 0px;
}

.sicon{
    width: 100px;
    height: 100px;
    margin: 10px 0px;
}

footer hr {
    color: #2793F2;
    height: 3px;
}

.tleft{
    padding-left: 50px;
    text-align: left;
    color:#2793F2;
}
.tcenter{
    text-align: center;
    color:#2793F2;
}

.tright{
    padding-right: 50px;
    text-align: right;
    color:#2793F2;
}
/* Breakpoint*/
@media only screen and (min-width: 768px) {
    .icons {
        width: 50px;
        height: 50px;
        margin: 10px 60px;
    }

   }
@media only screen and (min-width: 992px) {
    .icons {
        width: 50px;
        height: 50px;
        margin: 40px 0px;
    }

    .hightext{
        text-align: left;
    }

    /*If i want box edges
    .mybox3{
        border-right: 0px;
        border-bottom: 1px solid #0D0D0D;
    }
    */
   }